---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<h2>Book Project</h2><hr />
<p>My book project (with Marcel Roman), tentatively titled <em>Making Americans: The Racial Politics of Reproduction</em>, develops a theory of racialized attitudes toward reproduction (e.g. births, birth control, and abortion) in the United States. We argue that while American demographic engineering projects (such as immigration policy, incarceration, zoning, and others) have been studied extensively, the literature lacks nuanced theoretical engagement with reproduction, despite its foundational role in shaping the nation's demographic trajectory.</p>
<p>In an era marked by declining fertility rates, shrinking dominant-group populations, increasing diversity, and the rising prominence of "great replacement" ideology, reproduction is poised to become an increasingly critical site of political, economic, and cultural conflict. Drawing on a broad corpus of historical and contemporary data&mdash;including public opinion, archival texts, and voting returns&mdash;this project employs qualitative, observational, and causal methods to examine the extent to which racial concerns have shaped and sustained reproductive attitudes in the United States throughout the 20th century to present.</p>

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



